@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Montserrat+Alternates:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');


/* colors */

.bg-color-heading {
  background-color: rgb(126, 103, 126);
}

/* text  */

.text-brand{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  color: #fafafa;
}

.inline-block-nav {
  display: inline-block;
  margin-right: 20px;
}

.nav-item {
  color: #fafafa;
  text-decoration: none;
}

.active {
  color: #f8d570;
}

.nav-item:hover{
  color: #000000;
  text-decoration: underline;
}