@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Montserrat+Alternates:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');


/* colors 
------------------------*/

.bg-color-heading {
    background-color: rgb(126, 103, 126);
}

.bg-color-footer {
    background-color: rgb(126, 103, 126);
}
/*----------------------------------------*/

/* specials margins
----------------------------------------*/

.inline-block-nav, .inline-block-foot {
    display: inline-block;
}

.inline-block-nav {
    margin-right: 20px;
}
.inline-block-foot {
    margin-right: 30px;
}
.margin-left-20 {
    margin-left: 10%;
}

.work-section {
    margin-top: 8%;
    margin-bottom: 8%;
}

.left-team {
    width: 47%;
    float:left;
    padding:1%;
}
.right-team {
    width: 47%;
    padding: 1%;
    float: right;
}

.clear-both {
    clear: both;
}

/*----------------------------------------*/

/* Heading 
----------------------- */

.heading-brand{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color: #fafafa;
}

.nav-item {
    color: #fafafa;
    text-decoration: none;
}

.active {
    text-decoration: overline underline;
}

.nav-item:hover{
    color: #000000;
    text-decoration: underline;
}
/*----------------------------------------*/


/* Footer 
--------------------- */
footer i{
    color: #fafafa;
    font-size: 120%;
}
footer p{
    color: #fafafa;
}
/*----------------------------------------*/

/* index 
------------------------ */

.index-image {
    background-image: url(../img/couple.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.work-section h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.work-heading {
    font-family: "Exo",sans-serif;
    font-weight: 300;
}

.four-reasons{
    text-align: center;
}
/*----------------------------------------*/

/* about us 
----------------------------------------- */

    /* creating container: background-image with opacity */
#company{
    clear: both;
    position: relative;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.background-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bench-roses.jpg") center center / cover no-repeat;
    background-attachment: scroll;
}

    /* position of the content over the image */
.content {
    position: relative;
    color: #000000;
    z-index: 1;
}

.team-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10%;
}

.info-team {
    text-align: left;
    font-size: 110%;
}

#sarah {
    background: url("../img/team/Sarah.png") center center/cover no-repeat;
    float: left;
}

#emma {
    background: url("../img/team/Emma.png") center center/cover no-repeat;
    float: left;
}
/*----------------------------------------*/


/* medias */


@media screen and (max-width: 768px) {
    .team-photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 5%;
    }
    .left-team {
        width: auto;
        float: none;
        padding: 1%;
    }
    .right-team {
        width: auto;
        float: none;
        padding: 1%;
    }
    .info-team {
        padding-left: 25px;
    }
    .left-team, .right-team {
        margin-bottom: 10%;
    }
}