/* import styles */

@import './navBar.css';
@import './footer.css';


@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Montserrat+Alternates:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');


/* colors 
------------------------*/

/* services colors*/
.bg-color-bronze {
    background-color: #cb7e1f;
}
.bg-color-silver {
    background-color: #c7d4da;
}
.bg-color-gold {
    background-color: #f8d570;
}

/* contact colors */
.bg-color-f1 {
    background-color: rgba(126, 103, 126, 0.5);
    border: 1px solid rgb(126, 103, 126);
    border-left: 2px solid rgb(126, 103, 126);
}
.bg-color-f2 {
    background-color: rgba(126, 103, 126, 0.2);
    border: 1px solid rgb(126, 103, 126);
}
.bg-color-f3 {
    background-color: rgba(126, 103, 126, 0.5);
    border: 1px solid rgb(126, 103, 126);
}
.bg-color-f4{
    background-color: rgba(126, 103, 126, 0.2);
    border: 1px solid rgb(126, 103, 126);
    border-right: 2px solid rgb(126, 103, 126);
}


/*----------------------------------------*/
/* fonts  */
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h3, h4, h5 {
    font-family: "Exo",sans-serif;
    font-weight: 300;
}

/* specials margins
----------------------------------------*/

.margin-left-20 {
    margin-left: 10%;
}

.work-section {
    margin-top: 2%;
    margin-bottom: 2%;
}

.left-team {
    width: 47%;
    float:left;
    padding:1%;
}
.right-team {
    width: 47%;
    padding: 1%;
    float: right;
}

#left-service{
    float: left;
    width: 33%;
    padding: 1% 0 1% 3%;
    /* margin-left: 2%; */
}
#right-service {
    float: right;
    width: 33%;
    padding: 1% 3% 1% 0;
    /* margin-right: 2%; */
}
#center-service{
    width:33%;
    margin: auto;
}

.clear-both {
    clear: both;
}
.hidding-p {
    visibility: hidden;
}
.heading-margin {
    margin-top: 4%;
}


/* index 
------------------------ */

.index-image {
    background-image: url(../img/couple.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.four-reasons{
    text-align: center;
}


/* Gallery 
------------------------------------ */

.gallery-photo{
    clear: both;
    line-height: 0;
    /* column-count: 4; /* The column-count property specifies the number of columns an element should be divided into. 
    column-gap: 0; */
}

.gallery-photo img{
    width: 100%;
}

/* Services 
------------------------------------ */


.packs {
    height: 100px;
}
.packs-lists li {
    list-style: none;
}
#sevice-photo-container {
    width: 300px;
    height: 450px;
    padding: 5px;
    vertical-align: middle;
    margin: 0 auto;
}
#services-photo { 
    background: url("../img/services.jpg") center center/cover no-repeat;
    height: 100%;
    
}

@media screen and (max-width: 768px) {

    #left-service {
        width: auto;
        float: none;
        padding: 1% 3% 1% 3%;
    }
    #right-service {
        width: auto;
        float: none;
        padding: 1% 3% 1% 3%;
    }
    #center-service{
        display: none;
    }
    #right-service h5,
    #left-service h5 {
        text-align: center;
    }
}


/* about us 
----------------------------------------- */

    /* creating container: background-image with opacity */
#company{
    clear: both;
    position: relative;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.background-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bench-roses.jpg") center center / cover no-repeat;
    background-attachment: scroll;
}

    /* position of the content over the image */
.content {
    position: relative;
    color: #000000;
    z-index: 1;
}

.team-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10%;
}

.info-team {
    text-align: left;
    font-size: 110%;
}

#sarah {
    background: url("../img/team/Sarah.png") center center/cover no-repeat;
    float: left;
}

#emma {
    background: url("../img/team/Emma.png") center center/cover no-repeat;
    float: left;
}

    /* -- medias --*/

@media screen and (max-width: 768px) {
    .team-photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 5%;
    }
    .left-team {
        width: auto;
        float: none;
        padding: 1%;
    }
    .right-team {
        width: auto;
        float: none;
        padding: 1%;
    }
    .info-team {
        padding-left: 25px;
    }
    .left-team, .right-team {
        margin-bottom: 10%;
    }
}


/* contact
---------------------------- */

.form-container {
    margin-top: 3%;
}

.form-design {
    width: 50%;
    margin: 0 auto;
}

.btn-form {
    border: 1px solid #000000;
    background-color: rgb(126, 103, 126);
    color:#fafafa
}

.btn-form:hover {
    background-color: #fafafa;
    color: rgb(90, 59, 90);
    border: 1px solid #000000;
}
.form-control{
    border:  2px solid rgb(126, 103, 126);
}

.form-textarea{
    border:  2px solid rgb(126, 103, 126);
}

#feedback q {
    padding-bottom: 20px;
}
.text-area {
    text-align: center;
}

.contact-left{
    float: left;
    padding-left: 2%;
    width: 50%;

}
.contact-right{
    float: left;
    width: 50%;
}
.contact-right li {
    list-style: none;
    
}


@media screen and (max-width: 425px) {
    .form-design{
        width: 95%;
        margin: 0 auto;
    
    }
    .text-area{
        margin-left:0;
        text-align: left;
    }
    .contact-left{
        float: none;
        width: 100%;
        padding-left: 2px;
    
    }
    .contact-right{
        float: none;
        width: 100%;
    }
}

.frame {
    width: 80%;
}